body {
  background-image:linear-gradient(50deg,#1da1f2,#981ceb);
  color: #fdffff;
  width:500px;
  margin-right:auto;
  margin-left:auto;  /*body中央寄せに決定*/
}
button {
  padding: 5px 20px  ;
  background-color: #337ab7;
  border-style:none;
  color:#fdffff
}
input {
  height: 23.5px;
}
